*{
    margin: 0;
    padding: 0;
  }
  

  @media (min-width: 800px) {
    .top-side {
      display: flex;
      align-items: stretch;
      flex-direction: row;
    }
  }

  a {
    text-decoration: none;
    color: rgb(58, 58, 66);
  }

a:hover {
    color: white;
    }

  header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(183, 247, 252);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main img{
  
  width: 757px;
  height: 947px;
}

.block img{
right: 0%;
top: 0%;
bottom: 0%;
}


.block2 img{
position: absolute;
width: 470px;
height: 200px;
left: 15px;
top: calc(50% - 200px/2);
}

.navbar {
text-align: right;
}

button {
  background-color: #4ca3af;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


body {
        background-repeat: initial;
        background-size: 50%;
        background-position: left;
    }

.main{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(187, 247, 242);
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
